// Import partials here
@import "base.normalize";
@import "settings.variables";
@import "settings.responsive";
@import "components.content";

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background: #00a3ad;
  text-align: center;
  margin: 0;

  .navigation {
    color: white;
    list-style: none;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    padding: 30px 60px;
    li {
      font-size: 0.8rem;
      position: relative;
      padding: 15px 20px;
      font-size: 1.5rem;
    }
    .navigation_items {
      display: flex;
      flex-direction: row;
      font-weight: normal;
      text-decoration: underline;
    }
  }
}
